@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

header {
	position:	absolute;
	margin-left:		20%;
	margin-right:		20%;
	top:		40%;
}

h1 {
	font-family:	'Alegreya Sans', sans-serif;
	font-size:	55px;
	font-weight:	100;
	float: left;
}

h1 a {
	text-decoration: none;
}

#logo {
	vertical-align:	middle;
	margin-left:	-15px;
	margin-right:	-15px;
}

main {
	top: 90%;
	margin-left:	20%;
	margin-right:	20%;
	position:	absolute;
}

h2 {
	font-family:	'Alegreya Sans', sans-serif;
	font-size:	30px;
	font-weight:	400;
}

p, li {
	font-family:	'Open Sans', sans-serif;
}

main img {
	width:		100%;
	margin-top:	20px;
	margin-bottom:	10px;
}

footer {
}
